<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay">
			<ion-content>
				<ion-list id="inbox-list">
					<ion-list-header>Turn Tracker</ion-list-header>
					<ion-note>xiopipe.dev</ion-note>
					<!-- component para seleccionar encuentro -->
					<ion-select
						placeholder="Select encounter"
						i18n-placeholder
						interface="action-sheet"
					>
						@for (item of appPages; track $index) {
							<ion-icon
								aria-hidden="true"
								slot="start"
								[ios]="item.icon + '-outline'"
								[md]="item.icon + '-sharp'"
							></ion-icon>
							<ion-select-option [value]="item.title">
								{{ item.title }}
							</ion-select-option>
						}
					</ion-select>
				</ion-list>
				<!-- componente de iniciativa -->
				<ion-menu-toggle auto-hide="false">
					<ion-item i18n> Iniciative </ion-item>
				</ion-menu-toggle>
				<!-- Componente añadir pj -->
				<ion-menu-toggle auto-hide="false">
					<ion-item i18n> Add foe or creature </ion-item>
				</ion-menu-toggle>
				<!-- compoenent para reiniciar encuentro actual  -->
				<ion-menu-toggle auto-hide="false">
					<ion-item i18n> reset </ion-item>
				</ion-menu-toggle>
				<!-- agregar nuevo componente -->
				<app-add-encounter></app-add-encounter>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
